.regolatori{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.slider{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: row;
}